In [1]:
import pandas as pd
import numpy as np

In [5]:
df = pd.DataFrame([[4, 9, 6]] * 3, columns=['A', 'B', 'C'])
df

   A  B  C
0  4  9  6
1  4  9  6
2  4  9  6

In [13]:
df[['A','B']].apply(lambda x: print(x[0],x[1],type(x),x),axis=1)

4 9 <class 'pandas.core.series.Series'> A    4
B    9
Name: 0, dtype: int64
4 9 <class 'pandas.core.series.Series'> A    4
B    9
Name: 1, dtype: int64
4 9 <class 'pandas.core.series.Series'> A    4
B    9
Name: 2, dtype: int64

0    None
1    None
2    None
dtype: object

In [41]:
l=df['A']
print(type(l),type(l[0]))

<class 'pandas.core.series.Series'> <class 'numpy.int64'> 0    4
1    4
2    4
Name: A, dtype: int64

In [42]:
l

0    4
1    4
2    4
Name: A, dtype: int64

In [47]:
p=df[['A','B']]

4

In [48]:
1/2

0.5

In [50]:
10/2

5.0